<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="<?php echo A_PUBLIC; ?>/Css/add_category.css" />
		<script type="text/javascript" src="<?php echo A_PUBLIC; ?>/Js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript">
			var APP="<?php echo site_url('admin_/admin_list'); ?>";
		</script>
		<script type="text/javascript" src="<?php echo A_PUBLIC; ?>/Js/admin_code.js"></script>
	<title></title>
</head>
<body>
	<form action="" method="post" name="register">
		<table class="table">
			<tr >
				<td class="th" colspan="2">添加后台用户</td>
			</tr>
			<tr>
				<td width="30%">用户名</td>
				<td width="70%"><input type="text" name="username"/><span style="color:red;"></span></td>
			</tr>
			<tr>
				<td>密码：</td>
				<td><input type="password" name="password"/><span style="color:red;"></span></td>
			</tr>			<tr>
				<td>确认密码：</td>
				<td><input type="password" name="passwordS"/><span style="color:red;"></span></td>
			</tr>
			<tr>
				<td>昵称</td>
				<td><input type="text" name="nname"/><span style="color:red;"></span></td>
			</tr>
			<tr>
				<td>是否为管理者</td>
				<td><input type="checkbox" name="is_admin"/></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="确认" class="input_button"/>
					<input type="reset" class="input_button"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>