<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style type="text/css">
		.box{

			width:400px;
			min-height: 600px;
			margin:0 auto;
			border: 1px solid #333;
			margin-top: 80px;
		}
	</style>	
</head>
<body>
	<h2>登陆</h2>
	<div class="box">
		<form action="" method="post">
			用户名: <input type="text" name="username" id=""><br>
			密码 : <input type="text" name="password" id=""><br>
			<input type="checkbox" name="day7" value="1"> 七天随意登 <br>
			<input type="submit" value="登陆">
		</form>
	</div>
</body>
</html>