<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="<?php echo I_PUBLIC; ?>/images/nba.jpg" />
<link rel="stylesheet" href="<?php echo I_PUBLIC; ?>/css/css.css" />
<script type="text/javascript" src="<?php echo I_PUBLIC; ?>/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="<?php echo I_PUBLIC; ?>/js/js.js"></script>
<script type="text/javascript">
	var APP='<?php echo site_url(); ?>';
</script>
<script type="text/javascript" src="<?php echo I_PUBLIC; ?>/js/re_log.js"></script>
<title>jerise-nba</title>
</head>