<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shortcut icon" type="image/x-icon" href="./images/temps/zb_flag_2.jpg" />
<link rel="stylesheet" href="<?php echo I_PUBLIC; ?>/css/css.css" />
<link rel="stylesheet" href="<?php echo I_PUBLIC; ?>/css/temps-history.css" />
<script type="text/javascript" src="<?php echo I_PUBLIC; ?>/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="<?php echo I_PUBLIC; ?>/js/temps.js"></script>
<script type="text/javascript" src="<?php echo I_PUBLIC; ?>/js/history.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php if (isset($temp['h_title'])) {
	echo $temp['h_title'];
}elseif(isset($all_n)){
	echo '新闻列表';
}else{
	echo '球队历史列表';	
} ?></title>
</head>