<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>后盾问答</title>
	{* include file='../Common/common.html'}
	<meta name="keywords" content="后盾问答"/>
	<meta name="description" content="后盾问答"/>
	<link rel="stylesheet" href="{* $smarty.const.__PUBLIC__ }/Css/common.css" />
	<script type="text/javascript" src='{* $smarty.const.__PUBLIC__ }/Js/jquery-1.7.2.min.js'></script>
	<script type="text/javascript" src='{* $smarty.const.__PUBLIC__ }/Js/top-bar.js'></script>
	<link rel="stylesheet" href="{* $smarty.const.__PUBLIC__ }/Css/index.css" />
	<script type="text/javascript" src='{* $smarty.const.__PUBLIC__ }/Js/index.js'></script>
</head>
<body>
	
	<div class='main'>
		<div id='left'>
			<p class='left-title'>所有问题分类</p>
			<ul class='left-list'>
			{* foreach from=$data item=v}
				<li class='list-l1'>
					<div class='list-l1-wrap'>
						<h4><a href="{* $smarty.const.__APP__}?c=list&cid={* $v.cid}">{* $v.title }</a></h4>
						<ul class='list-l2'>
							{* section loop=$v.son name=n max=3}
							<li><a href="{* $smarty.const.__APP__}?c=list&cid={* $v.son[n].cid}">{* $v.son[n].title}</a></li>
							{* /section}
						</ul>
					</div>
					<div class='list-more hidden'>
						<ul>
							{*section loop=$v.son name=n start=3 max=6}
								<li><a href="{* $smarty.const.__APP__}?c=list&cid={* $v.son[n].cid}">{* $v.son[n].title }</a></li>
							{*/section}
						</ul>
					</div>
				</li>
			{* /foreach }
			</ul>
		</div>

		<div id='center'>
			<div id='animate'>
				<div class='imgs-wrap'>
					<ul>
						<li>
							<a href=""><img src="{* $smarty.const.__PUBLIC__ }/Images/animate1.jpg" width='558' height='190'/></a>
						</li>
						<li>
							<a href=""><img src="{* $smarty.const.__PUBLIC__ }/Images/animate2.jpg" width='558' height='190'/></a>
						</li>
						<li>
							<a href=""><img src="{* $smarty.const.__PUBLIC__ }/Images/animate3.jpg" width='558' height='190'/></a>
						</li>
					</ul>
				</div>
				<ul class='ani-btn'>
					<li class='ani-btn-cur'>0学费学习<i></i></li>
					<li>超百G原创视频<i></i></li>
					<li style='border:none'>有实力做后盾<i></i></li>
				</ul>
			</div>

			<dl class='answer-list'>
				<dt>
					<span class='wait-as'>待解决问题</span>
					<a href=''>更多>></a>
				</dt>
				{* foreach from=$no_solve item=v}
				<dd>
					<a href="{* $smarty.const.__APP__}?c=show&asid={* $v.asid}">{* $v.content}</a>
					<span>{* $v.answer}回答</span>
				</dd>
				{* /foreach}
			</dl>

			<dl class='answer-list'>
				<dt>
					<span class='reward-as'>高分悬赏问题</span>
					<a href=''>更多>></a>
				</dt>
				{* foreach from=$h_reward item=v}
				<dd>
					<a href="{* $smarty.const.__APP__}?c=show&asid={* $v.asid}"><b>{* $v.reward}</b>{* $v.content}</a>
					<span>{* $v.answer}回答</span>
				</dd>
				{* /foreach}
			</dl>

		</div>
		{* include file='../Common/right.html'}
	</div>
<!--------------------内容主体结束-------------------->
	<div class='clear'></div>
	
<!-- 底部 -->
	<div id='bottom'>
		<p>Copyright © 2013 Qihoo.Com All Rights Reserved 后盾网</p>
		<p>京公安网备xxxxxxxxxxxx</p>
	</div>
<!--[if IE 6]>
    <script type="text/javascript" src="./Js/iepng.js"></script>
    <script type="text/javascript">
    	DD_belatedPNG.fix('.logo','background');
        DD_belatedPNG.fix('.nav-sel a','background');
        DD_belatedPNG.fix('.ask-cate i','background');
    </script>
<![endif]-->
</body>
</html>
<!-- 底部结束 -->