	<!-- 球队介绍 -->
	<div class="temp-text" style="padding-top:20;">
		<?php echo $temp['h_text']; ?>
	</div>
	

	<!-- nba相关联系 -->
	<div class="rel">
		<div class="text">NBA微信</div>
		<div class="imgs">
			<div class="img">
				<div class="sao"><img src="<?php echo I_PUBLIC; ?>/images/weixin/116344985.jpg" alt="" /></div>
				<div class="wh">
					<h5>NBA微信二维码</h5>
					<p>扫一扫</p>
				</div>
			</div>
			<div class="img">
				<div class="sao"><img src="<?php echo I_PUBLIC; ?>/images/weixin/116344984.jpg" alt="" /></div>
				<div class="wh">
					<h5>腾讯NBA微信二维码</h5>
					<p>扫一扫</p>
				</div>
			</div>
			<div class="img">
				<div class="sao"><img src="<?php echo I_PUBLIC; ?>/images/weixin/116344990.jpg" alt="" /></div>
				<div class="wh">
					<h5>鱼乐NBA微信二维码</h5>
					<p>扫一扫</p>
				</div>
			</div>
			<div class="img">
				<div class="sao"><img src="<?php echo I_PUBLIC; ?>/images/weixin/116344986.jpg" alt="" /></div>
				<div class="wh">
					<h5>于嘉微信二维码</h5>
					<p>扫一扫</p>
				</div>
			</div>
			<div class="img">
				<div class="sao"><img src="<?php echo I_PUBLIC; ?>/images/weixin/116344989.jpg" alt="" /></div>
				<div class="wh">
					<h5>苏群微信二维码</h5>
					<p>扫一扫</p>
				</div>
			</div>
			<div class="img">
				<div class="sao"><img src="<?php echo I_PUBLIC; ?>/images/weixin/116344988.jpg" alt="" /></div>
				<div class="wh">
					<h5>杨毅微信二维码</h5>
					<p>扫一扫</p>
				</div>
			</div>
		</div>
	</div>

<div class="to-top" style="display:none;"></div>
</div>

</body>
</html>
