<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>后盾问答</title>
	<meta name="keywords" content="后盾问答"/>
	<meta name="description" content="后盾问答"/>
	<link rel="stylesheet" href="{* $smarty.const.__PUBLIC__ }/Css/common.css" />
	<script type="text/javascript" src='{* $smarty.const.__PUBLIC__ }/Js/jquery-1.7.2.min.js'></script>
	<script type="text/javascript" src='{* $smarty.const.__PUBLIC__ }/Js/top-bar.js'></script>
	<link rel="stylesheet" href="{* $smarty.const.__PUBLIC__ }/Css/member.css" />
</head>
<body>
{* include file='../Common/common.html'}
<!--------------------中部-------------------->
	<div id='center'>
<!-- 左侧 -->
<div id='left'>
{* include file='./left.html'}
<ul class="list">
		<li class='myhome cur'>
			<a href="{* $smarty.const.__APP__}?c=Mynews">我的首页</a>
		</li>
		<li class='myask'>
			<a href="">我的提问</a>
		</li>
		<li class='myanswer'>
			<a href="">我的回答</a>
		</li>
		<li class='mylevel'>
			<a href="">我的等级</a>
		</li>
		<li class='mygold'>
			<a href="">我的金币</a>
		</li>
		<li class='myface'>
			<a href="{* $smarty.const.__APP__}?c=Mynews&a=my_face">上传头像</a>
		</li>

		<li style="background:none"></li>
	</ul>
</div>
<!-- 左侧结束 -->
		<div id='right'>
	
			<p class='title'>我的首页</p>

			<ul class='property'>
				<li>金币：<span>{* $user[0].exp}</span></li>
				<li>经验值：<span>{* $user[0].point}</span></li>
				<li>采纳率：<span>{* $user[0].accept/$user[0].answer*100|truncate:5:''}%</span></li>
			</ul>
			<div class='list'>
				<p><span>我的提问 <b>(共{* $user[0].ask}条)</b></span><a href="">更多>></a></p>
				<table>
						<tr>
							<th class='t1'>标题</th>
							<th>回答数</th>
							<th class='t3'>更新时间</th>
						</tr>
					{* section loop=$ask name=n max=10}
						<tr>
							<td class='t1'>
								<a href="{* $smarty.const.__APP__}?c=show&asid={* $ask[n].asid}">{* $ask[n].content}</a><span>[{* $ask[n].category}]</span>
							</td>
							<td>{* $ask[n].answer}</td>
							<td class='t3'>{* $ask[n].time}</td>
						</tr>
					{* /section}
				</table>
			</div>
			<div class='list'>
				<p><span>我的回答 <b>(共{* $user[0].answer}条)</b></span><a href="">更多>></a></p>
				<table>

					<tr>
						<th class='t1'>标题</th>
						<th>回答</th>
						<th class='t3'>更新时间</th>
					</tr>

					{* section loop=$answer name=n max=10}
						<tr>
							<td class='t1'>
								<a href="{* $smarty.const.__APP__}?c=show&asid={* $answer[n].asid}">{* $answer[n].content}</a><span>[{* $answer[n].category}]</span>
							</td>
							<td>{* $answer[n].answer}</td>
							<td class='t3'>{* $answer[n].time}</td>
						</tr>
					{* /section}

				</table>
			</div>
		</div>
	</div>
<!--------------------中部结束-------------------->

<!--------------------底部-------------------->
<!-- 底部 -->
	<div id='bottom'>
		<p>Copyright © 2013 Qihoo.Com All Rights Reserved 后盾网</p>
		<p>京公安网备xxxxxxxxxxxx</p>
	</div>
<!--[if IE 6]>
    <script type="text/javascript" src="./Js/iepng.js"></script>
    <script type="text/javascript">
    	DD_belatedPNG.fix('.logo','background');
        DD_belatedPNG.fix('.nav-sel a','background');
        DD_belatedPNG.fix('.ask-cate i','background');
    </script>
<![endif]-->
</body>
</html>
<!-- 底部结束 -->