		<div class="register" style="display:none;">
			<form action="">
				<div class="text">
					账号：<input type="text" class="inputs"><br>
					密码：<input type="text" class="inputs"><br>
					<div class="code-img">
						<div class="codes">验证码：<input type="text" class="code"></div>
						<div class="img"><img src="./code.php" alt="" onclick="this.src=this.src+'?m='+Math.random()"></div>
					</div>
				</div>
				<div class="sub">
					<input type="submit" value="立即注册" class="i-login">
				</div>
			</form>
			<!-- 关闭按钮 -->
			<div class="close">关闭</div>
		</div>